<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <title>Machinaris</title>
    {% if reload_seconds %}
    <meta http-equiv="refresh" content="{{ reload_seconds }}">
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="{{ url_for('index') }}"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <i class="fs-4 bi-flower1"></i>&nbsp;<span class="fs-5 d-none d-sm-inline">Machinaris</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="{{ url_for('index') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline ">Summary</span>
                            </a>
                        </li>
                        {% if not global_config.farming_only %}
                        <li>
                            <a href="{{ url_for('plotting') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-speedometer"></i> <span
                                    class="ms-1 d-none d-sm-inline">Plotting</span> </a>
                        </li>
                        {% endif %}
                        {% if not global_config.plotting_only %}
                        <li>
                            <a href="{{ url_for('farming') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-tree"></i> <span class="ms-1 d-none d-sm-inline">Farming</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('wallet') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-wallet"></i> <span class="ms-1 d-none d-sm-inline">Wallet</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('keys') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-key"></i> <span class="ms-1 d-none d-sm-inline">Keys</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('network_blockchain') }}"
                                class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-globe"></i> <span class="ms-1 d-none d-sm-inline">Network</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('alerts') }}" class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-bell"></i> <span class="ms-1 d-none d-sm-inline">Alerts</span></a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse"
                                class="nav-link px-0 align-middle text-success">
                                <i class="fs-4 bi-gear"></i> <span class="ms-1 d-none d-sm-inline">Settings</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                {% if not global_config.farming_only %}
                                <li class="w-100">
                                    <a href="{{ url_for('settings_plotting') }}" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline text-white">Plotting</span> </a>
                                </li>
                                {% endif %}
                                {% if not global_config.plotting_only %}
                                <li>
                                    <a href="{{ url_for('settings_farming') }}" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline text-white">Farming</span> </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('settings_alerts') }}" class="nav-link px-0"> <span
                                            class="d-none d-sm-inline text-white">Alerts</span> </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="https://github.com/guydavis/machinaris" target="_blank"
                            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-4 bi-github"></i>&nbsp;<span class="ms-1 d-none d-sm-inline">About</span> </a>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris">Project</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris/wiki">Wiki</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris/issues">Issues</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris/blob/main/LICENSE">License</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/guydavis/machinaris/blob/main/CREDITS.md">Credits</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">

                {% block content %}{% endblock %}

                <footer class="pt-3 mt-4">
                        <div class="row">
                          <div class="col">
                            <small><i>Loaded: {{ global_config.now }}</i></small>
                          </div>
                          <div class="col">
                            <small><i>Chia™ {{ global_config.chia_version }}</i></small>
                          </div>
                          <div class="col">
                            <small><i>Chia™ Dog {{ global_config.chiadog_version }}</i></small>
                          </div>
                          <div class="col">
                            <small><i>Machinaris {{ global_config.machinaris_version }}</i></small>
                          </div>
                          <div class="col">
                            <small><i>Plotman {{ global_config.plotman_version }}</i></small>
                          </div>
                      </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>